# Dependencies
node_modules/

# sample files but not zip files
sample/**
!sample/*.zip

# Build outputs
dist/
build/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# AI
.claude

# refactoring
apps/backend/src/services/geminiService.ts
apps/backend/src/services/types.ts
apps/frontend/src/types.ts
